
body {
  font-size: 1.25vw;
    background-color: #35374B;
    color: #78A083;
  }

h1{
    font-family:monospace;
    text-align: center;
    font-size:3vw;
    color:#78A083;
    background-color: #50727B;
}
h2{
  font-family:monospace;
  text-align: center;
  font-size:3vw;
  color:#78A083;
  background-color: #50727B;
}
h3{
  margin-top: 175px;
  font-family:monospace;
  text-align: left;
  font-size:1.5vw;
  color:#78A083;
}
/*Navigation bar*/
.nav{
    background-color:#50727B;
    overflow: hidden;
    
}

/*Links in nav bar*/
.nav a {
    float: center;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.5vw;
    font-family:monospace;

  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #344955;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color:#78A083;
    color: black;
  }

.subnav  {
    background-color:#50727B;
    overflow: hidden;
}
    
.subnav a{
    float: center;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.5vw;
    font-family:monospace;
 }

 .diagram img {
  width: 781px;
  height: 364px;
  margin-top: 20px;
  vertical-align: middle;
}

    

