body {
    background-color: #4A2040;
  }

h1{
    font-family:monospace;
    text-align: center;
    font-size:3vw;
}
/*Navigation bar*/
.nav{
    background-color:C880B7;
    overflow: hidden;
}

/*Links in nav bar*/
.nav a {
    float: center;
    color: #EC9DED;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:1.5vw;

  }
  
  /* Change the color of links on hover */
  .nav a:hover {
    background-color: #C990B7;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .nav a.active {
    background-color:#F5CCE8;
    color: white;
  }
